//
// custome-variable.scss
//

// topbar
$topbar-height: 70px;

// right sidebar
$right-sidebar-width: 40%;
$right-sidebar-md-width: 50%;

// Font weight
$font-weight-medium: 500;
$font-weight-semibold: 600;

// custom-color
$gray-50: lighten($gray-100, 2%);
